<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- <link rel="stylesheet" href="styles.css" /> -->
      <link
         rel="stylesheet"
         type="text/css"
         href="{{ url_for('static',filename='styles/styles.css') }}"
      />
      <title>Letter</title>
   </head>
   <body>
      <div class="right">
         <form action="/letter_result" , method="post">
            <p1>{{language}} : {{number}}</p1>
            <p>
               <!-- <label for="answer" class="answerlabel">Answer: </label> -->
               <input
                  type="text"
                  name="answer"
                  id="answer"
                  placeholder="Answer"
               />
               <input
                  type="number"
                  name="number"
                  id="number"
                  value="{{number}}"
                  hidden
               />
            </p>
            <!-- <a href="letter_result" class="button2" type="submit">Submit</a> -->
            <button type="submit">Submit</button>
         </form>
         <p class="score">Score: {{score}} / {{total}}</p>
      </div>
   </body>
</html>
