body {
   background-image: url(miku.jpg);
   background-size: cover;
}

h1 {
   text-align: center;
   opacity: 1;
   font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
   font-size: 200px;
}

div {
   text-align: center;
}

a.button2 {
   display: inline-block;
   padding: 0.5em 3em;
   border: 0.16em solid black;
   margin: 0 0.3em 0.3em 0;
   box-sizing: border-box;
   text-decoration: none;
   text-transform: uppercase;
   font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
   font-weight: 400;
   font-size: 40px;
   color: black;
   text-align: center;
   transition: all 0.15s;
}

a.button2:hover {
   color: white;
   border-color: white;
}

a.button2:active {
   color: white;
   border-color: white;
}

@media all and (max-width: 30em) {
   a.button2 {
      display: block;
      margin: 0.4em auto;
   }
}

p1 {
   font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
   font-size: 100px;
}

label.answerlabel {
   font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
   font-size: 25px;
}

input {
   font-size: 25px;
   font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

div1 {
   text-align: center;
}

body.correct {
   background-image: url(correct.jpg);
   background-size: cover;
}

form {
   text-align: center;
}

body.wrong {
   background-image: url(wrong.jpg);
   background-size: cover;
}
